* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Esto le devuelve el margen, padding y comportamiento nativo de golpe */
p, #titulo-principal, .subtitulo {
    all: revert; 
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#titulo-principal {
    text-align: center;
    color: #800000;
}

.subtitulo {
    color: #2775e3;
    font-weight: bold;
}

ul a {
    text-decoration: none;
}

.tarjeta-presentacion {
    width: 350px;
    padding: 25px;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 10px #e0e0e0;
    margin: 40px auto;
}

.galeria {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 40px auto;
    gap: 20px;
}

.tarjeta-foto {
    width: 95%;
}

.tarjeta-foto img {
    width: 100%;
    height: auto;
}

.hero-banner {
    height: 100vh;
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner h1 {
    font-size: 40px;
    text-align: center;
}

.hero-banner p {
    font-size: 20px;
    text-align: center;
}

/* ===================================================
   ENFOQUE MOBILE FIRST
   1. Diseñamos la estructura base pensando exclusivamente en la pantalla de un celular (elementos al 100% de ancho, apilados, sin alturas fijas que rompan el diseño).
   2. Usamos @media queries con 'min-width' para ir expandiendo y reacomodando la grilla a medida que el dispositivo tiene más espacio disponible (Tablets o PCs).
   Esto evita que el celular gaste recursos procesando tamaños enormes que después tiene que achicar.
   =================================================== */

@media (min-width: 768px) {
    .galeria {
        flex-direction: row;
    }
    
    .tarjeta-foto {
        width: 31%;
    }
    
    .hero-banner h1 {
        font-size: 60px;
    }
    
    .hero-banner p {
        font-size: 40px;
    }
}